p {
	color: red;
	text-align: center;
}
p {
	color: blue;
background-color: lightgray;
}
body {
background-color: cornsilk;
}
body {
	background-image: url("");
}
body {
	background-image: url("");
	Background-repeat:repet;
}

