
ul {
  list-style-type: none;
  background-color: lightgrey;
  font-size: 250%;
  margin: 0;

}

li a:hover {
  background: aquamarine;
  
}

li a {
  marigin: 0;
  font-family: Arial;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 30px;
  padding: 10px;
  positon: fixed;
  height: 100%;

  
}

ul {
  
  padding: 0;
}
ul2 {
  
  padding: 0;
}


body {
  
  margin: 0;

    background-video:<iframe width="560" height="315" src="https://www.youtube.com/embed/0h6MmpxEI2M" frameborder="0" gesture="media" allowfullscreen></iframe>
}

}

li {
  display: inline
}
