ul {
  list-style-type: none;
  background-color: lightgrey;
  width: 100px;
}

li a:hover {
  background: aquamarine;
  
}

li a {
 
under-line: 0;
text-aling: center;
display: block;
  
}

ul {
  padding: 0;
}
